<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %> | CSE Motors</title>
</head>
<body>
  <h1><%= title %></h1>

  <!-- Flash Message -->
  <%- messages() %>

  <% if (notice) { %>
    <div class="notice"><%= notice %></div>
  <% } %>


  <div class="card">
    <h2>Inventory Management</h2>
    <p>Use the links below to manage inventory classifications and vehicles.</p>
    <ul>
        <li><a href="/inv/add-classification">➕ Add New Classification</a></li>
        <li><a href="/inv/add-inventory">🚗 Add New Vehicle</a></li>
    </ul>
  </div>

  <h2>Manage Inventory</h2>
  <p>Choose a classification to see those inventory items.</p>
  <%- classificationSelect %>

  <table id="inventoryDisplay"></table>

  <noscript>JavaScript must be enabled to use this page.</noscript>

  <script src="../../js/inventory.js"></script>

</body>
</html>
